# Virtual environment
.venv/

# Git
.git/
.github/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Testing & coverage
.coverage
htmlcov/
tests/

# Large data files
data/processed/*.parquet
data/orders.csv
data/order_products__prior.csv
data/order_products__train.csv

# MLflow
mlruns/

# IDE
.vscode/

# Misc
log_to_mlflow.py
*.md
docs/
notebooks/
